:root{
    --cor-amarela:#D6AF5B;
    --cor-azul-profundo:#153349;
    --cor-azul-noturno:#05273A;
    --cor-cinza:#EAEAEA;
    --cor-preto:#000;
}

@font-face {
    font-family:F_M_Regular ;
    src: url(../Fonts/FreightTextProMedium-Regular.ttf);
}

@font-face {
    font-family: F_proBlack_Regular;
    src: url(../Fonts/FreightTextProBlack-Regular.ttf);
}

@font-face {
    font-family: F_proBold_Regular;
    src: url(../Fonts/FreightTextProBold-Regular.ttf);
}

*{
   font-family: 'F_M_Regular','F_proBlack_Regular','F_proBold_Regular';

   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    width: 100vw;
    
    position: relative;
}

.windous{
    width: 100vw;
    height: 100vh;
    background: #D6AF5B;
}

@media (max-width:450px) {
    /* header */
    
    /* Botão de whatsApp */
    .btn_whats{
        
        position: fixed;
            right: 24px;
            bottom: 24px;
            width: 46px;
            height: 46px;
            cursor: pointer;
        }

    .btn_whats img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-shadow: #000 2px 2px 5px ;
        animation: whatsApp_chaque ease-in-out 1s infinite;
    }
        /* Animação do botão */
        @keyframes whatsApp_chaque {
            from{
                transform: translateX(2px);
            }

            25%{
                transform: translateX(4px);
            }

            50%{
                transform: translateX(-2px);
            }

            75%{
                transform: translateX(-4px);
            }

            to{
               transform: translateX(2px);
            }
        }
        
    .btn_subir{
        position: fixed;
            left: 24px;
            bottom: 24px;
        width: 46px;
        height: 46px;
        cursor: pointer;
        border: solid var(--cor-azul-profundo) 2px;
        border-radius: 24px;
        box-shadow: #000 2px 2px 5px ;
        background: var(--cor-cinza);
    }
    
    .btn_subir img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    /* espaço da camera */
    .camera{
        width: 100vw;
        height: 58px;
    }

    /* Espaço do logo tipo */
    h1{
        display: flex;
        flex-flow: row nowrap;

        justify-items: center;
        align-items: center;
        
        width: 100vw;
        height: 168px;
        padding: 9.58% 28%;
    }

    h1 img{
        width: 100%;
    }
    
    /* Espaço do Menu de celular */
   
    .container_de_navegacao{

        position: sticky;
        top: -1px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        
        width: 100vw;
        height: 168px;
        
        padding: 9.58% 28%;

        background-color: var(--cor-amarela);
        z-index: 100;
    }

    .menu_colunas{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        
    }

    .colunas{
        height: 10px;
        width: 80px;
        border-radius: 3px;
        background: var(--cor-azul-noturno);    
    }

    #coluna_1{
        transition: ease-in-out 0.5s;
    }

    .coluna_1_open{
        animation: coluna_1_abre 0.5s ease-in-out forwards;
    }

    .coluna_1_closed{
        animation: coluna_1_fexha 0.5s ease-in-out forwards;
    }

    .coluna_2_open{
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    .coluna_2_closed{
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

    .coluna_3_open{
        animation: coluna_3_abre 0.5s ease-in-out forwards;
    }

    .coluna_3_closed{
        animation: coluna_3_fexha 0.5s ease-in-out forwards;
    }
    
    @keyframes coluna_1_abre {
            0%{
                transform: rotatez(0deg);
            }

            100%{
                transform:translateY(20px) rotatez(45deg);
            }
    }

        @keyframes coluna_1_fexha {
            0%{
                transform:translateY(20px) rotatez(45deg);
            }
            
            100%{
                transform: rotatez(0deg);
            }
    }

    @keyframes coluna_3_abre {
            0%{
                transform: rotatez(0deg);
            }

            100%{
                transform:translateY(-20px) rotatez(-45deg);
            }
    }

    @keyframes coluna_3_fexha {
            0%{
                transform:translateY(-20px) rotatez(-45deg);
            }
            
            100%{
                transform: rotatez(0deg);
            }
    }
    
    .nav_mobile{
        position: sticky;
        width: 100vw;
        top: 166px;

        display: flex;
        flex-flow: column  nowrap;
        align-items: center;
        justify-content: center;
        
        
        row-gap: 10px;

        background: var(--cor-cinza);
        z-index: 100;
    }

    .caixa_M_open{
        animation: abertura_do_menu_inferior 0.5s ease-in-out forwards;
    }

    .caixa_M_closed{
        animation: menu_inferior_closed 0.5s ease-in-out forwards;
    }

    @keyframes menu_inferior_open {
        from{
            display: none;
            height: 0;
        }

        to{
            display: flex;
            height: 382px;
        }
    }

    @keyframes menu_inferior_closed {
        from{
            height: 382px;
        }
        
        to{
            height: 0;
            display: none;
        }
    }

    .link_alteravel{
        width: 100vw;
        text-align: center;
        font-size: 36px;
        text-decoration: none;
        color: var(--cor-amarela);
        
        border-top: 1px solid ;
    }

    .link_alteravel_open{
        animation: almentando 0.5s ease-in-out forwards ;
    }

    .link_alteravel_closed{
        animation: diminuindo 0.5s ease-in-out forwards ;
    }

    @keyframes almentando {
        from{
            font-size: 0px;
        }

        to{
            font-size: 36px;
        }
    }

    @keyframes diminuindo {
        from{
            font-size: 36px;
        }
        
        to{
            font-size: 0px;
        }
    }
    
/* Main */
    /* Apresentações */

    main{
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    .Apresentacao{
        position: relative;
        width: 100vw;
        height: 573px;
    }
    
    .slides{
        display: flex;
        flex-flow: row nowrap;
        width: 400vw;
        height: 100%;
        
    }

    .slide{
        position: relative;
        width: 100vw;
        height: 100%;
        padding: 20px;

        background: #05273A;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        transition: 0.5s ease-in-out;
    }

    .slide img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.15;
    }

    .slide h3{
        font-weight: 500;
        font-family: F_M_Regular;
        font-size: 32px;
        text-align: center;
        color: var(--cor-cinza);
    }

    .slide p{
        font-family: F_M_Regular;
        font-size: 18.6px ;
        text-align: center;
        color: var(--cor-cinza);
    }

    .slide button{
        margin: 0 auto;
        
        width: 306px;
        height: 50px;
        border-radius: 10px;
        
        background-color: var(--cor-amarela);
        color: var(--cor-azul-noturno);

        font-family: F_M_Regular;
        font-size: 20px;
        font-weight: 800;
    }

    /* inicio das alterações para slides que alteram */
    .Apresentacao input{
        display: none;
    }

    .navegacao-manual{
        position: absolute;
        width: 100vw;
        margin-top: -45px;
        display: flex;
        justify-content: center;
        column-gap: 25px;
    }

    .manual-btn{
        width: 24px;
        height: 24px;
        
        border: 2px solid var(--cor-cinza);
        
        border-radius: 15px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }

    .manual-btn:hover{
        background-color: var(--cor-cinza);
    }

    .manual-btn-selected{
        border: none;
        background-color: var(--cor-amarela);
    }

    #slide_1:checked ~ .first{
        margin-left: 0;
    }

    #slide_2:checked ~ .first{
        margin-left: -25%;
    }

    #slide_3:checked ~ .first{
        margin-left: -50%;
    }

    #slide_4:checked ~ .first{
        margin-left: -75%;
    }
}

/* funções */
        
.desativo{
    display: none;
}